<header>
   
  <nav id="menu">
   <div class='box'>
    <h1>Alibazon</h1>
    <a href="/categories/mens" class='links'><button class='show-cat-btn btn2'>Mens</button></a>
    <a href="/categories/womens" class='links'><button class='show-cat-btn btn2'>Womens</button></a>
    <%if(!user) { %>
    <a href="/login"><button class="show-cat-btn">Sign In</button></a>
    <% } else { %>
      <a href="/login/signOut"><button class='show-cat-btn'>Logout</button></a>
      <a href="/logged/profile"><button class='show-cat-btn'>Profile</button></a>
      <a href="/logged/cart"><button class='show-cat-btn'>Cart</button></a>
      <a href="/logged/wishlist"><button class='show-cat-btn'>Wish List</button></a>
   <% } %>
   </div>
   <div class="container-1">
      <form method='get' action="/products/search">
       <input type='text' id='search' placeholder='Search' name='search' required>
       <button type='submit' class='show-cat-btn'>Find</button> 
      </form>
   </div>
  </nav>
   <hr>
