<header>
    <div id="topnav">
     <h1>Alibazon</h1>
     
     <a href="/login"><button class="show-cat-btn signBtn">Sign In</button></a>
     <nav id="menu">
      <button class='show-cat-btn '><a href="/categories/mens">Mens</a></button>
      <button class='show-cat-btn '><a href="/categories/womens">Womens</a></button>   
     </nav>
    </div>
    <hr>
    <ul id="breadcrumb">
       <li><a href='/'>Home</a></li>
    <%breadcrumbs.forEach(element => { %>
       <li><a href='/categories/<%=element%>'><%=element.slice(0,1).toUpperCase() + element.slice(1)%></a></li>
    <%   }) %>   
   </ul>
 </header>