<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>

<body>
  
  <%- include('./partials/header.ejs') %>
  <ul id="breadcrumb">
      <li><a href='/'>Home</a></li>
</header>

    <main style="height: 700px;">
    <div class="center">
        <h1>Login</h1>
        <form method="post" action="/login/auth/signIn">
          <div class="txt_field">
            <input type="email" required name="email">
            <span></span>
            <label>Email</label>
          </div>
          <div class="txt_field">
            <input type="password" required name="password"> 
            <span></span>
            <label>Password</label>
          </div>
          <button type='submit' class="buttonLogin" value='Login'>SignIn</button>
          <div class="signup_link">
            Not registered? <a href="/login/signUp">Create an account</a>
          </div>
        </form>
      </div>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>