<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>

<body>
    <header>
        <div id="topnav">
         <h1>Alibazon</h1>
         <nav id="menu">
          <button class='show-cat-btn '><a href="/categories/mens">Mens</a></button>
          <button class='show-cat-btn '><a href="/categories/womens">Womens</a></button>   
         </nav>
        </div>
        <hr>    
        <ul id="breadcrumb">
           <li><a href='/'>Home</a></li> 
       </ul>
     </header>


    <main style="height: 700px;">
    <div class="center">
        <h1>Login</h1>
        <form method="post" action="/login/auth/signIn">
          <div class="txt_field">
            <input type="text" required>
            <span></span>
            <label>Username</label>
          </div>
          <div class="txt_field">
            <input type="password" required>
            <span></span>
            <label>Password</label>
          </div>
          <button type='submit' class="buttonLogin" value='Login'>SignIn</button>
          <div class="signup_link">
            Not registered? <a href="/login/signUp">Create an account</a>
          </div>
        </form>
      </div>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>