#menu {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items:flex-start;
  
}

.box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.box > * {
  padding: 10px;
}

#menu > * {
  padding: 10px;
  margin:0 20px;
}

.show-cat-btn {
    /* width: 200px; */
    min-width: 100px;
    height: 2.2rem;
    font-size: 1rem;
    border: 1px solid #949084;
    border-radius: 1rem;
    background-color: #f2f1eb;
    text-align: center;
    color: #232b2c;
    text-decoration: none;
}
.show-cat-btn a {
  text-decoration: none;
}

.show-cat-btn:hover{
    background-color: #4CAF50;
    color: white;
    border: 1px solid white;
}

.active { 
  background-color: #4CAF50;
    color:white;
}

.container-1{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 
  
}

.container-1 form > * {
  padding: 10px;
  margin-left: 10px;
}
.container-1 input#search{
  width:300px;
  height: 2.2rem;
  background: #f2f1eb;
  border: 1px solid #949084;
  font-size: 10pt;
  float: left;
  color: #262626;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 0.3rem;
 
   
    -webkit-transition: background .55s ease;
  -moz-transition: background .55s ease;
  -ms-transition: background .55s ease;
  -o-transition: background .55s ease;
  transition: background .55s ease;
}

.container-1 input#search::-webkit-input-placeholder {
  color: #65737e;
}

.container-1 input#search:-moz-placeholder { /* Firefox 18- */
  color: #65737e;  
}

.container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
  color: #65737e;  
}

.container-1 input#search:-ms-input-placeholder {  
  color: #65737e;  
}

.container-1 input#search:hover, .container-1 input#search:focus, .container-1 input#search:active{
  outline:none;
  background: #ffffff;
}

.border{
  border: 1px solid black;
}

.in-row{
  display: flex;

}

.marginal{
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.centered-b {
  display: inline-flex;
  align-items: center;
  
  justify-content: center;
}



.no-button {
   background-color: Transparent;
   background-repeat:no-repeat;
   border: none; cursor:pointer;
   overflow: hidden; 
   outline:none; 
}

.styled{
  border: 1px solid #e6e6fa;
    border-radius: 5px;
  -webkit-box-shadow: 4px 3px 24px -10px rgba(129, 95, 95, 0.56);
    -moz-box-shadow: 4px 3px 24px -10px rgba(0,0,0,0.56);
    box-shadow: 4px 3px 24px -10px rgba(0,0,0,0.56);
    
}